@use '../../../../styles' as *;

.statsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .mainStatBox,
  .streakBox {
    @include flex-center;
    background: var(--color-bg-tint);
    border: 3px solid var(--color-border-tint);
    border-radius: $radius-main;
    padding: 20px 16px;
    flex-direction: column;
    gap: 4px;
  }

  .statLabel {
    @include font-body;
    color: var(--color-text-muted);
  }

  .statValue {
    @include font-lg-title;
    color: var(--color-danger);
    font-weight: 800;

    span {
      @include font-body;
      color: var(--color-text-muted);
      font-weight: $font-light;
      margin-left: 1px;
    }
  }

  .recordsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .recordsBox {
      text-align: center;
      display: flex;
      background: var(--color-bg-primary);
      border: 3px solid var(--color-border-primary);
      padding: 12px;
      border-radius: $radius-main;
      flex-direction: column;
      gap: 2px;
      overflow: hidden;

      @media (max-width: 768px) {
        padding: 10px;
      }

      .recordsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 4px;
        flex-direction: column;

        .recordsLabel {
          @include font-body;
          color: var(--color-text-primary);
        }
      }

      .recordsValue {
        @include font-md-title;
        color: var(--color-primary);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          @include font-body;
          color: var(--color-text-muted);
          margin-left: 1px;
        }
      }

      .recordsDate {
        @include font-sm;
        color: var(--color-text-muted);
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}
