@use '../../../styles' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: $transition-base;
  border: none;
  white-space: nowrap;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.gray {
  background-color: $gray;
  color: $white;

  &:hover:not(:disabled) {
    background-color: $gray-hover;
  }
}

.red {
  background-color: $red;
  color: $white;

  &:hover:not(:disabled) {
    background-color: $red-hover;
  }
}

.blue {
  background-color: $blue;
  color: $white;

  &:hover:not(:disabled) {
    background-color: $blue-hover;
  }
}

.ligray {
  background-color: $ligray;
  color: $ligray-text;

  &:hover:not(:disabled) {
    background-color: $ligray-hover;
  }
}

.outline {
  flex: 1;
  gap: 6px;
  padding: 10px 6px;
  border-radius: $radius-main;
  border: 1px solid $border-soft;
  background: $white;
  color: $text-dark;

  &:hover:not(:disabled) {
    background: $ligray;
    border-color: $border-liblue;
  }
}

.sm {
  padding: 0.4rem 0.8rem;
  @include font-sm;
}
.md {
  padding: 0.6rem 1.2rem;
  @include font-body;
}
.lg {
  padding: 0.8rem 1.6rem;
  @include font-md-title;
}

.round {
  border-radius: 20px;
}
