@use '../../../styles' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  white-space: nowrap;

  transition:
    $transition-base,
    transform 0.15s ease-out;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;

  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:active:not(:disabled) {
    transform: scale(0.96) translateZ(0);
  }
}

.gray {
  background-color: $gray;
  color: $white;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $gray-hover;
    }
  }
}

.red {
  background-color: $red;
  color: $white;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $red-hover;
    }
  }
}

.blue {
  background-color: $blue;
  color: $white;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $blue-hover;
    }
  }
}

.white {
  background-color: $white;
  color: $text-dark;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $ligray-hover;
    }
  }
}

.ligray {
  background-color: $ligray;
  color: $ligray-text;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: $ligray-hover;
    }
  }
}

.outline {
  gap: 6px;
  border-radius: $radius-main;
  border: 1px solid $border-soft;
  background: $white;
  color: $text-dark;

  @media (hover: hover) {
    &:hover:not(:disabled) {
      border-color: $blue;
      color: $blue;
    }
  }

  &.active {
    background: $blue;
    border-color: $blue;
    color: $white;

    @media (hover: hover) {
      &:hover:not(:disabled) {
        color: $white;
      }
    }
  }
}

.sm {
  padding: 0.4rem 0.8rem;
  @include font-sm;
}
.md {
  padding: 0.6rem 1.2rem;
  @include font-body;
}
.lg {
  padding: 0.8rem 1.6rem;
  @include font-md-title;
}

.square {
  border-radius: 8px;
}

.round {
  border-radius: 20px;
}
