@use '../../../styles' as *;

.scrollToTopButton {
  position: fixed;
  left: 50%;
  bottom: calc(24px + env(safe-area-inset-bottom));
  z-index: 3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 2px solid color-mix(in srgb, var(--color-border-primary) 95%, black);
  border-radius: $radius-main;
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
  box-shadow: 0 3px 0 0
    color-mix(in srgb, var(--color-border-primary) 95%, black);
  cursor: pointer;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform, box-shadow;

  transition:
    opacity 0.25s ease,
    visibility 0.25s ease,
    transform 0.1s ease-out,
    box-shadow 0.1s ease-out;

  opacity: 0;
  transform: translateX(-50%) translateY(16px);
  visibility: hidden;
  pointer-events: none;

  &[data-visible='true'] {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    visibility: visible;
    pointer-events: auto;
  }

  &[data-visible='true']:active {
    transition:
      opacity 0.25s ease,
      visibility 0.25s ease,
      transform 0.1s ease-out,
      box-shadow 0.1s ease-out;
    transform: translateX(-50%) translateY(4px);
    box-shadow: 0 0 0 0
      color-mix(in srgb, var(--color-border-primary) 95%, black);
  }
}
