@use '../../../../styles' as *;

.characterContainer {
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: $radius-main;
  background: linear-gradient(to bottom, #e3f2fd, #ffffff);
  transition: background 0.3s ease;
}
.canvasWrapper {
  width: 90%;
  height: 100%;
}
