$off-white: #f7f7f7;

$gray-hover: #5a6268;

$ligray-hover: #e0e0e0;
$ligray-text: #666;

$red: #dc3545;
$red-hover: #c82333;

$blue: #007bff;
$blue-hover: #0069d9;

$pink: #ec4899;

$liblue: #f0f7ff;
$liblue-dark: #16233a;

$squat-red: #ef4444;
$deadlift-orange: #f97316;
$benchpress-green: #22c55e;
$ohp-purple: #a855f7;

$border-liblue: #e0eefb;
$border-light: #ddd;
$border-soft: #eee;

$text-dark: #333;
$text-gray: #2c3e50;
$text-muted: #888;

// light
$primary: #007bff;

$danger: #dc3545;

$dark: #3c3c3c;
$gray: #6c757d;
$ligray: #f5f5f5;
$white: #ffffff;

$bg-primary: #ffffff;
$bg-secondary: #f7f7f7;
$bg-tint: #f0f7ff;

$border-primary: #eee;
$border-secondary: #ddd;
$border-tint: #e0eefb;

$text-secondary: #666;
$text-muted: #888;

// dark
$dark-danger: #a72838;

$dark-gray: #6c7a83;
$dark-ligray: #39474f;

$dark-bg-primary: #161f24;
$dark-bg-secondary: #39474f;
$dark-bg-tint: #222f37;

$dark-border-primary: #2d383f;
$dark-border-secondary: #46565f;
$dark-border-tint: #304250;

$dark-text-secondary: #9aa5ab;
$dark-text-muted: #778287;
