$font-family-main: var(--font-title), sans-serif;

$font-title-line-height: 1.2;
$font-body-line-height: 1.5;

$font-size-xl: clamp(28px, 2vw, 36px);
$font-size-lg: clamp(22px, 1.8vw, 28px);
$font-size-md: clamp(18px, 1.5vw, 22px);
$font-size-base: clamp(14px, 1.2vw, 16px);
$font-size-sm: clamp(12px, 1vw, 14px);
$font-size-xs: clamp(10px, 0.8vw, 12px);

$font-size-th: clamp(14px, 1vw, 16px);
$font-size-td: clamp(12px, 1vw, 14px);

// 타이틀
@mixin font-xl-title {
  font-family: $font-family-main;
  font-size: $font-size-xl;
  line-height: $font-title-line-height;
  font-weight: 700;
  letter-spacing: -0.02em;
}

// 큰 제목
@mixin font-lg-title {
  font-family: $font-family-main;
  font-size: $font-size-lg;
  line-height: $font-title-line-height;
  font-weight: 700;
}

// 중간 제목
@mixin font-md-title {
  font-family: $font-family-main;
  font-size: $font-size-md;
  line-height: 1.4;
  font-weight: 500;
}

// 본문 텍스트
@mixin font-body {
  font-family: $font-family-main;
  font-size: $font-size-base;
  line-height: $font-body-line-height;
  font-weight: 500;
}

// 작은 정보 텍스트
@mixin font-sm {
  font-family: $font-family-main;
  font-size: $font-size-sm;
  line-height: 1.5;
  font-weight: 300;
}

// 가장 작은 텍스트
@mixin font-xs {
  font-family: $font-family-main;
  font-size: $font-size-xs;
  line-height: 1.5;
  font-weight: 300;
}

// 차트 타이틀 텍스트
@mixin font-th {
  font-family: $font-family-main;
  font-size: $font-size-th;
  line-height: $font-body-line-height;
  font-weight: 500;
}

// 차트 정보 텍스트
@mixin font-td {
  font-family: $font-family-main;
  font-size: $font-size-td;
  line-height: 1.5;
  font-weight: 300;
}
