@use '../../../styles' as *;

.emptyContainer {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  background-color: transparent;
  border-radius: 16px;
  padding: 30px;
  word-break: keep-all;
  overflow-wrap: break-word;

  p {
    @include font-md-title;
    color: $text-dark;
    margin: 0;
  }

  span {
    display: block;
    margin-top: 8px;
    @include font-body;
    color: $text-muted;
  }
}
