@use '@/styles/constants/colors' as colors;

:root {
  --color-primary: #{colors.$primary};

  --color-danger: #{colors.$danger};

  --color-pink: #{colors.$pink};

  --color-gray: #{colors.$gray};
  --color-ligray: #{colors.$ligray};

  --color-bg-primary: #{colors.$bg-primary};
  --color-bg-secondary: #{colors.$bg-secondary};
  --color-bg-tint: #{colors.$bg-tint};

  --color-border-primary: #{colors.$border-primary};
  --color-border-secondary: #{colors.$border-secondary};
  --color-border-tint: #{colors.$border-tint};

  --color-text-primary: #{colors.$dark};
  --color-text-secondary: #{colors.$text-secondary};
  --color-text-muted: #{colors.$text-muted};
}

.dark {
  --color-danger: #{colors.$dark-danger};

  --color-gray: #{colors.$dark-gray};
  --color-ligray: #{colors.$dark-ligray};

  --color-bg-primary: #{colors.$dark-bg-primary};
  --color-bg-secondary: #{colors.$dark-bg-secondary};
  --color-bg-tint: #{colors.$dark-bg-tint};

  --color-border-primary: #{colors.$dark-border-primary};
  --color-border-secondary: #{colors.$dark-border-secondary};
  --color-border-tint: #{colors.$dark-border-tint};

  --color-text-primary: #{colors.$white};
  --color-text-secondary: #{colors.$dark-text-secondary};
  --color-text-muted: #{colors.$dark-text-muted};
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  font-family: var(--font-title), sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
