@use '../styles' as *;

.wrapper {
  @include flex-center;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: var(--color-bg-primary);
  position: relative;
  overflow-anchor: none;
}
