@use '../styles' as *;

.wrapper {
  @include flex-center;
  min-height: 100vh;
  background: $off-white;
}

.container {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  background: $white;
  box-shadow: $shadow-md;
  position: relative;
  overflow-y: auto;
}
