@use '../styles' as *;

.wrapper {
  @include flex-center;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: $white;
  position: relative;
  overflow-anchor: none;
}
