@use '../../../styles' as *;

.navBarContainer {
  @include flex-center;
  width: 100%;
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 0 1rem;

  .navBarLink {
    @include flex-center;
    @include font-body;
    padding: 0.8rem 1.2rem;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-primary);
    text-decoration: none;
    border-radius: $radius-main;
    border: 2px solid var(--color-border-primary);
    box-shadow: 0 4px 0 0 var(--color-border-primary);

    transition:
      $transition-base,
      transform 0.15s ease-out,
      box-shadow 0.15s ease-out;

    &:active {
      transition:
        transform 0.08s ease-out,
        box-shadow 0.08s ease-out;
      transform: translateY(4px) translateZ(0);
      box-shadow: 0 0 0 0 var(--color-border-primary);
    }
  }
}
