@use '../constants/colors' as *;
@use '../constants/_typography' as *;

@mixin input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    @include font-md-title;
    color: var(--color-text-primary);
  }

  input {
    @include font-body;

    /* Chrome, Safari, Edge, Opera에서 화살표 제거 */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    padding: 0.6rem;
    border-radius: 8px;
    border: 3px solid var(--color-border-primary);
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    outline: none;
    transition: border-color 0.2s;

    &:focus {
      border-color: var(--color-primary);
    }
  }
}
