@use '../../styles' as *;

.membersContainer {
  max-width: 900px;
  margin: 0 auto;

  .title {
    @include font-xl-title;
    margin-bottom: 2rem;
    color: $text-dark;
    text-align: center;
  }

  .userGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 20px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
